h1{
 font-size: 24px; 
 color: red; 
 font-weight: bold;
 font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight:  bold;
}

h3{
font-size: 16px;
color: #008080 ;
font-weight: bold;
}

p{
    color: #4D4D4D;

}
.first_p{
    font-style: italic;
}
a{
    color:  #8A2BE2;
    text-decoration: none;
}

.poopie{
    background-image: url(./achtegrond\ afbeelding\ zelda.jpg);
    background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 33vh;
background-position: center;
}


article{
    border: 2px solid black;
    border-radius: 10px;
}