h1{
 font-size: 24px; 
 color: blue; 
 font-weight: bold;
 font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight:  bold;
}

h3{
font-size: 16px;
color: #008080 ;
font-weight: bold;
}

p{
    color: #4D4D4D;

}
.first_p{
    font-style: italic;
}
a{
    color:  #8A2BE2;
    text-decoration: none;
}