* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Goldman", cursive;
  }
  
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav img {
    width: 5vw;
  }
  .first{
    background-image: url(background.jpeg);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
  .second{
    text-align: center;
    color: white;
    top: 45rem;
    position: relative;
    font-size: 50px;
  }
  .gokublack1{
    background-color: black;
    color: white;
  }
  footer{
    background-color:#00a8c7;
    text-align: center;
    height: 5rem;
    font-size: 20px;
    font-family: "Goldman";
    position: absolute;
    width: 100vw;
   top: 69.6rem;
    color: white;
  }
  h1{
    font-weight: bold;
  
    text-align: center;
  }
  body{
    position: absolute;
    min-height: 100vh;
  }
  footer p{
    margin-top: 10px;
  }
  .htmlc{
    height: 15vh;
  }
  .html{
    height: auto;
    width: 50rem;
    float: left;
    margin-left: 20rem;
  }
  .right{
    float: right;
    width: 30rem;
    margin: 0rem 25rem 0 12rem;
    font-size: 20px;
    height: 5rem;
  }
  .h1fix{
    margin-top: 14rem;
    width: 100vw;
    font-size: 5rem;
  }
  .hc{
    color:orangered
  }
  .cc{
    color: blue;
  }
  .pc{
    color: rgb(135, 104, 207);
  }
  .left 
  { float: left;
  width: 30rem;
  margin: 0rem 12rem 0 25rem;
  font-size: 20px;
  height: 5rem;
  }
  .kys{
    height: auto;
    width: 35rem;
    float: right;
    margin-right: 20rem;
  }
  .jc{
    color: yellow;
  }
  .sqlc{
    color: orange;
  }
  .jaar_2 {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;;
  }
  
  .dropbtn {
    background-color: #00a8c7;
    color: white;
    padding: 1.6rem;
    font-size: 1.6rem;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E9E9E9;
    min-width: 16rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    color: #00a8c7;
    top: 5rem;
  }
  
  .dropdown-content a {
    color: #00a8c7;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;
  }
  
  
  .dropdown:hover .dropbtn {background-color:white; color:#00a8c7;};
  
  .jaar2:hover + .dropdown {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown:hover {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown h1 {
    font-size: 2.5rem;
  }